.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-grey {
    background-color: #A9A9A9;
}

/* change the brand and text color */
.navbar-grey .navbar-brand,
.navbar-grey .navbar-text {
        color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-grey .nav-link {
        color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navbar-grey .nav-item.active .nav-link,
.navbar-grey .nav-item:hover .nav-link {
        color: #ffffff;
}
